<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>О школе Цигун</h2>
            <br/>
            <img src="/img/natalia.jpg" style="float: left; margin-right: 20px;" width="217">
            <p style="text-align: justify">Я преподаю цигун уже 10 лет, и люди, которые приходят на мои семинары и
                занятия, обретают значительные улучшения в здоровье и качестве жизни. Я квалифицированный врач, что
                позволяет мне более конкретно и индивидуально работать с каждым учеником, в зависимости от физического
                состояния и возможностей человека.
            </p>
            <p style="text-align: justify">Я в совершенстве владею древними восстановительными методиками Китая:
            <br /><i>Синг Шен Джуан (Xing Shen Zhuan)</i> - китайская лечебная гимнастика для позвоночника.
            <br /><i>Ню Дан Гонг (Nu Dan Gong)</i> - женские даосские практики.
            <br /><i>Шен Джен Гонг (Sheng Zheng Gong)</i> - практика истиной медитации и достижения внутренней тишины.
            <br /><i>Ней Гонг (Nei Gong)</i> - крайне редкая и невероятно мощная практика дыхания и медитации для развития
            способности сочетания Инь и Ян Ци в процессе создания особенной силы.
            </p>
            <p style="text-align: justify"><br/>Образование:
            <br/>В 1999г. с отличием закончила РГМУ, факультет лечебное дело.
            <br/>До 2005 года вела врачебную деятельность, но в 2005 стала ведущим преподавателем, а затем и директором
            одной из школ цигун в Москве «Ву Минг Дао».
            <br/>С 2010 года организовала собственную школу, которая успешно функционирует на территории Москвы,
            Дмитрова и Ижевска.
            </p>
            <p style="text-align: right"><i>Наталья Дубинина</i></p>
            <br/>
        </div>
    </div>
</section>
